<% if book.favorited_by?(current_user) %> <!-- #現在のユーザーにいいねされていた場合 -->
        <p><%= link_to book_favorites_path(book), method: :delete, remote: true do %>
          ♥<%= book.favorites.count %> いいね<% end %></p>

        <% else %> <!-- #現在のユーザーにいいねされていない場合 -->
        <p><%= link_to book_favorites_path(book), method: :post, remote: true do %>
          ♡<%= book.favorites.count %> いいね<% end %></p>
<% end %>